<nav>
  {{link-to 'The Codex' 'index' class="brand"}}

  <input class="show" id="bmenu" type="checkbox">
  <label class="burger toggle speudo button" for="bmenu">menu</label>

  <div class="menu">
    {{link-to 'Dashboard' 'index' class="pseudo button icon-guage"}}
    {{link-to "The Codex" "supers" class="pseudo button icon-users-1"}}
    {{link-to "New Super" "supers.new" class="pseudo button icon-user-add"}}
  </div>
</nav>
